.loadContainer {
    margin: 30px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;

}


.loadBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff3a;
}

.loadBorder::after {
    content: 'Loading...';
    color: #ffffff;

}

.load {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    filter: drop-shadow(0 0 3px #fff5f5);
    border-left: none;
    border-bottom: none;
    border-top: none;
    animation: loader 1s infinite linear;
}

@keyframes loader {
    from {
        rotate: -720deg;
    }
}