.menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5em;
    width: 100%;
    border-bottom: 2px solid var(--whiteColor);
}


.menu input{
    width: 80%;
    height: 40px;
    font-size: 1.2em;
    padding: .5em;
    border: none;
    border-radius: 5px;
    background: var(--whiteColor);
    margin-bottom: 1.5em;
}

.menu button{
    height: 40px;
    color: var(--whiteColor);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2em;
}

.menu button:active{
    transform: scale(1.3);
}

