.container{
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  width: 90vw;
  padding: .5em;
  background: var(--appColor);
  border-radius: 10px;
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

.container h1{
  color: var(--featuredColor);
}


.tempFuture{
  width: 100%;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: auto;
}


.tempFuture::-webkit-scrollbar{
  height: 20px;
  
}

.tempFuture::-webkit-scrollbar-track{
 
  background: none;
}

.tempFuture::-webkit-scrollbar-thumb{
  border: 4px solid var(--appColor);
  background-color: var(--whiteColor);
  border-radius: 50px;
  
}

@media screen and (min-width: 768px) {
  .container{
      width: 60vw;
  }
}

@media screen and (min-width: 1340px){
  .tempFuture{
    justify-content: center;
  }
}
